<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	    <key>FirebaseDynamicLinksCustomDomains</key>
         <array>
        <string>https://plaito.page.link/</string>
        <string>https://link.plaito.ai</string>
         </array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Plaito</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Plaito</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ai.plaito.app</string>
				<string>fb576898154254969</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>576898154254969</string>
	<key>FacebookClientToken</key>
	<string>f19579d7eb246742f632fb4b2db784ee</string>
	<key>FacebookDisplayName</key>
	<string>Plaito</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Grant camera access to easily submit homework assignments by taking pictures.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Grant file access to upload and access homework assignments.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Grant speech access to be able to convert voice to text.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Grant microphone access to acess your microphone.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app uses your location to provide you with accurate notifications and other benefits. Your location data will only be used within the app and will not be shared with any third parties. You can disable location access at any time in your device's settings.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses your location to provide you with accurate notifications and other benefits while the app is in use. Your location data will only be used within the app and will not be shared with any third parties. You can disable location access at any time in your device's settings.</string></dict>
</plist>
